@model SoccerManager.Web.Models.ClubeVM

@{
    ViewBag.Title = "Remover";
}

<h2>Clube</h2>

<ol class="breadcrumb text-info">
    <li><a href="@Url.Action("Index")">Clubes</a></li>
    <li>Remover</li>
</ol>

<hr />

<h3 class="alert alert-warning text-center">Tem certeza que deseja remover este registro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormacaoTatica_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormacaoTatica.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escudo_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escudo_Id)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" />
        </div>
    }
</div>

<hr />

<div class="alert alert-info text text-right">
    <a href="@Url.Action("Index")"><i class="glyphicon glyphicon-arrow-left"></i> Voltar para a lista</a>
</div>
